/node_modules
public/blogs-images
public/customer_images
public/familyRishtaMeetings
public/govermentRegisteredMarraigeBureau
public/grandMatchmakingEvents
public/home_page
public/ourOffices
public/web_images
public/ourEvents
public/specialGuests
public/customer_verification
public/customPages
public/gallery
public/career_image
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
